<a href="https://colab.research.google.com/github/yuki-tamaribuchi/ml_code_kata/blob/master/kaggle_titanic_lightgbm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!mkdir /root/.kaggle
!cp drive/'My Drive'/kaggle/kaggle.json /root/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [2]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv: Skipping, found more recently modified local copy (use --force to force download)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split

In [4]:
train_df=pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')

In [5]:
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [6]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
sex_dummy=pd.get_dummies(train_df['Sex'])
pclass_dummy=pd.get_dummies(train_df['Pclass'],prefix='Pclass')
embarked_dummy=pd.get_dummies(train_df['Embarked'],prefix='Emb')

train_df=train_df.drop(['Ticket','Cabin','Name','Sex','Pclass','Embarked','Cabin','PassengerId'],axis=1)
train_df=pd.concat([train_df,sex_dummy,pclass_dummy,embarked_dummy],axis=1)

train_df['Age']=train_df['Age'].fillna(train_df['Age'].mean())

In [8]:
train_df.isnull().sum()

Survived    0
Age         0
SibSp       0
Parch       0
Fare        0
female      0
male        0
Pclass_1    0
Pclass_2    0
Pclass_3    0
Emb_C       0
Emb_Q       0
Emb_S       0
dtype: int64

In [9]:
y_train_df=train_df['Survived']
X_train_df=train_df.drop(['Survived'],axis=1)

In [10]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [11]:
sex_dummy=pd.get_dummies(test_df['Sex'])
pclass_dummy=pd.get_dummies(test_df['Pclass'],prefix='Pclass')
embarked_dummy=pd.get_dummies(test_df['Embarked'],prefix='Emb')

test_df=test_df.drop(['Ticket','Cabin','Name','Sex','Pclass','Embarked','Cabin','PassengerId'],axis=1)
test_df=pd.concat([test_df,sex_dummy,pclass_dummy,embarked_dummy],axis=1)

test_df['Age']=test_df['Age'].fillna(test_df['Age'].mean())
test_df['Fare']=test_df['Fare'].fillna(test_df['Fare'].mean())

X_test=test_df

In [12]:
X_test.isnull().sum()

Age         0
SibSp       0
Parch       0
Fare        0
female      0
male        0
Pclass_1    0
Pclass_2    0
Pclass_3    0
Emb_C       0
Emb_Q       0
Emb_S       0
dtype: int64

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X_train_df,y_train_df)

In [14]:
import lightgbm as lgb

In [15]:
lgb_train=lgb.Dataset(X_train,y_train)
lgb_eval=lgb.Dataset(X_test,y_test,reference=lgb_train)

In [16]:
lgbm_params={'objective':'multiclass','num_class':3}

In [17]:
model=lgb.train(lgbm_params,lgb_train,valid_sets=lgb_eval)

[1]	valid_0's multi_logloss: 0.628498
[2]	valid_0's multi_logloss: 0.594682
[3]	valid_0's multi_logloss: 0.56803
[4]	valid_0's multi_logloss: 0.547325
[5]	valid_0's multi_logloss: 0.530171
[6]	valid_0's multi_logloss: 0.515025
[7]	valid_0's multi_logloss: 0.502544
[8]	valid_0's multi_logloss: 0.492145
[9]	valid_0's multi_logloss: 0.485113
[10]	valid_0's multi_logloss: 0.475983
[11]	valid_0's multi_logloss: 0.468613
[12]	valid_0's multi_logloss: 0.463626
[13]	valid_0's multi_logloss: 0.459112
[14]	valid_0's multi_logloss: 0.457296
[15]	valid_0's multi_logloss: 0.455131
[16]	valid_0's multi_logloss: 0.452827
[17]	valid_0's multi_logloss: 0.451752
[18]	valid_0's multi_logloss: 0.451117
[19]	valid_0's multi_logloss: 0.449215
[20]	valid_0's multi_logloss: 0.449565
[21]	valid_0's multi_logloss: 0.45109
[22]	valid_0's multi_logloss: 0.452718
[23]	valid_0's multi_logloss: 0.45488
[24]	valid_0's multi_logloss: 0.455524
[25]	valid_0's multi_logloss: 0.457023
[26]	valid_0's multi_logloss: 0.460009
[27]	valid_0's multi_logloss: 0.462337
[28]	valid_0's multi_logloss: 0.464575
[29]	valid_0's multi_logloss: 0.467122
[30]	valid_0's multi_logloss: 0.46597
[31]	valid_0's multi_logloss: 0.469048
[32]	valid_0's multi_logloss: 0.471463
[33]	valid_0's multi_logloss: 0.47066
[34]	valid_0's multi_logloss: 0.47091
[35]	valid_0's multi_logloss: 0.474654
[36]	valid_0's multi_logloss: 0.477248
[37]	valid_0's multi_logloss: 0.480291
[38]	valid_0's multi_logloss: 0.481635
[39]	valid_0's multi_logloss: 0.482286
[40]	valid_0's multi_logloss: 0.484552
[41]	valid_0's multi_logloss: 0.483212
[42]	valid_0's multi_logloss: 0.486072
[43]	valid_0's multi_logloss: 0.489211
[44]	valid_0's multi_logloss: 0.49063
[45]	valid_0's multi_logloss: 0.492884
[46]	valid_0's multi_logloss: 0.492745
[47]	valid_0's multi_logloss: 0.495203
[48]	valid_0's multi_logloss: 0.497043
[49]	valid_0's multi_logloss: 0.494875
[50]	valid_0's multi_logloss: 0.497072
[51]	valid_0's multi_logloss: 0.499097
[52]	valid_0's multi_logloss: 0.500709
[53]	valid_0's multi_logloss: 0.503892
[54]	valid_0's multi_logloss: 0.505312
[55]	valid_0's multi_logloss: 0.504073
[56]	valid_0's multi_logloss: 0.507611
[57]	valid_0's multi_logloss: 0.509647
[58]	valid_0's multi_logloss: 0.510188
[59]	valid_0's multi_logloss: 0.515458
[60]	valid_0's multi_logloss: 0.512627
[61]	valid_0's multi_logloss: 0.514819
[62]	valid_0's multi_logloss: 0.516693
[63]	valid_0's multi_logloss: 0.516955
[64]	valid_0's multi_logloss: 0.517755
[65]	valid_0's multi_logloss: 0.518569
[66]	valid_0's multi_logloss: 0.521816
[67]	valid_0's multi_logloss: 0.524298
[68]	valid_0's multi_logloss: 0.524923
[69]	valid_0's multi_logloss: 0.528497
[70]	valid_0's multi_logloss: 0.528789
[71]	valid_0's multi_logloss: 0.529789
[72]	valid_0's multi_logloss: 0.530467
[73]	valid_0's multi_logloss: 0.533508
[74]	valid_0's multi_logloss: 0.533168
[75]	valid_0's multi_logloss: 0.536821
[76]	valid_0's multi_logloss: 0.536473
[77]	valid_0's multi_logloss: 0.538225
[78]	valid_0's multi_logloss: 0.538338
[79]	valid_0's multi_logloss: 0.54324
[80]	valid_0's multi_logloss: 0.546643
[81]	valid_0's multi_logloss: 0.547779
[82]	valid_0's multi_logloss: 0.550004
[83]	valid_0's multi_logloss: 0.54986
[84]	valid_0's multi_logloss: 0.55055
[85]	valid_0's multi_logloss: 0.5508
[86]	valid_0's multi_logloss: 0.550322
[87]	valid_0's multi_logloss: 0.552317
[88]	valid_0's multi_logloss: 0.552219
[89]	valid_0's multi_logloss: 0.555008
[90]	valid_0's multi_logloss: 0.55471
[91]	valid_0's multi_logloss: 0.555031
[92]	valid_0's multi_logloss: 0.557332
[93]	valid_0's multi_logloss: 0.559708
[94]	valid_0's multi_logloss: 0.558819
[95]	valid_0's multi_logloss: 0.560932
[96]	valid_0's multi_logloss: 0.562032
[97]	valid_0's multi_logloss: 0.563458
[98]	valid_0's multi_logloss: 0.568313
[99]	valid_0's multi_logloss: 0.56903
[100]	valid_0's multi_logloss: 0.56855

In [18]:
y_pred=model.predict(X_test,num_iteration=model.best_iteration)
y_pred_max=np.argmax(y_pred,axis=1)

In [19]:
accuracy=sum(y_test==y_pred_max)/len(y_test)
print(accuracy)

0.8161434977578476