<a href="https://colab.research.google.com/github/yuki-tamaribuchi/ml_code_kata/blob/master/kaggle_airbnb_ny_dataprocessing3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!cp -r /content/drive/MyDrive/kaggle/airbnb_ny/ /content

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('airbnb_ny/AB_NYC_2019.csv')

In [4]:
df.describe()

                 id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   1.901714e+07  ...        112.781327
std    1.098311e+07  ...        131.622289
min    2.539000e+03  ...          0.000000
25%    9.471945e+06  ...          0.000000
50%    1.967728e+07  ...         45.000000
75%    2.915218e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [6]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [7]:
room_type_dummies=pd.get_dummies(df['room_type'],prefix='room_type')
df['reviews_per_month']=df['reviews_per_month'].fillna(df['reviews_per_month'].mean())

df=df.drop(['id','name','host_id','host_name','room_type','last_review','neighbourhood_group','neighbourhood','latitude','longitude'],axis=1)

df=pd.concat([df,room_type_dummies.drop(['room_type_Entire home/apt'],axis=1)],axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   price                           48895 non-null  int64
 1   minimum_nights                  48895 non-null  int64
 2   number_of_reviews               48895 non-null  int64
 3   reviews_per_month               48895 non-null  float64
 4   calculated_host_listings_count  48895 non-null  int64
 5   availability_365                48895 non-null  int64
 6   room_type_Private room          48895 non-null  uint8
 7   room_type_Shared room           48895 non-null  uint8
dtypes: float64(1), int64(5), uint8(2)
memory usage: 2.3 MB

In [9]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import TransformedTargetRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(['price'],axis=1),df['price'],shuffle=False)


train_df=pd.concat([X_train,y_train],axis=1)
test_df=pd.concat([X_test,y_test],axis=1)

scaler=StandardScaler()
scaled_train_df=pd.DataFrame(scaler.fit_transform(train_df),columns=train_df.columns)
scaled_test_df=pd.DataFrame(scaler.transform(test_df),columns=test_df.columns)

In [11]:
regressor=LinearRegression()

tt=TransformedTargetRegressor(regressor=regressor,transformer=scaler)
tt.fit(train_df.drop(['price'],axis=1),train_df['price'])

tt.score(test_df.drop(['price'],axis=1),test_df['price'])

0.07829980788313962

In [12]:
#難しい