<a href="https://colab.research.google.com/github/yuki-tamaribuchi/ml_code_kata/blob/master/livedoor_text_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install janome jaconv

Collecting janome
  Downloading https://files.pythonhosted.org/packages/a8/63/98858cbead27df7536c7e300c169da0999e9704d02220dc6700b804eeff0/Janome-0.4.1-py2.py3-none-any.whl (19.7MB)
     |████████████████████████████████| 19.7MB 5.4MB/s
Collecting jaconv
  Downloading https://files.pythonhosted.org/packages/b0/9e/cf1353fb3e81a177bb52ca59a0ebee425f084b7298039a7965c5414d2d62/jaconv-0.2.4.tar.gz
Building wheels for collected packages: jaconv
  Building wheel for jaconv (setup.py) ... done
  Created wheel for jaconv: filename=jaconv-0.2.4-cp36-none-any.whl size=12286 sha256=4bffebe3449fd83f7928d991b3b560ca1235139190440e3be1e23aa2b65e9917
  Stored in directory: /root/.cache/pip/wheels/e1/46/f7/85a7f89bd3263423c8530dfed16083f9a142cc0fc78c81ff32
Successfully built jaconv
Installing collected packages: janome, jaconv
Successfully installed jaconv-0.2.4 janome-0.4.1

In [ ]:
!mkdir dic

#単語感情極性対応表
#http://www.lr.pi.titech.ac.jp/%7Etakamura/pndic_ja.html
!wget -P dic http://www.lr.pi.titech.ac.jp/%7Etakamura/pubs/pn_ja.dic

--2021-02-03 11:24:07--  http://www.lr.pi.titech.ac.jp/%7Etakamura/pubs/pn_ja.dic
Resolving www.lr.pi.titech.ac.jp (www.lr.pi.titech.ac.jp)... 131.112.138.3
Connecting to www.lr.pi.titech.ac.jp (www.lr.pi.titech.ac.jp)|131.112.138.3|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1723987 (1.6M)
Saving to: ‘dic/pn_ja.dic’

pn_ja.dic           100%[===================>]   1.64M  2.15MB/s    in 0.8s

2021-02-03 11:24:08 (2.15 MB/s) - ‘dic/pn_ja.dic’ saved [1723987/1723987]

In [ ]:
import pandas as pd
import numpy as np
import pathlib
import glob
import janome
import jaconv
import re

In [ ]:

p_dic=pathlib.Path('dic')
for i in p_dic.glob('*.dic'):
  with open(i,'r',encoding='cp932') as f:
    x=[ii.replace('\n','').split(':') for ii in f.readlines()]

posi_nega_df = pd.DataFrame(x, columns = ['基本形', '読み', '品詞', 'スコア'])
posi_nega_df['読み'] = posi_nega_df['読み'].apply(lambda x : jaconv.hira2kata(x))
posi_nega_df = posi_nega_df[~posi_nega_df[['基本形', '読み', '品詞']].duplicated()]


'''
p_temp=pathlib.Path('/content/drive/MyDrive/ml_sample_data/livedoor_news_text/')

article_list=[]

for p in p_temp.glob('**/*.txt'):
  media=str(p).split('/')[6]
  file_name=str(p).split('/')[7]

  if file_name != 'LICENSE.txt':
    with open(p,'r') as f:
      article=f.readlines()
      article=[re.sub(r'[\n \u3000]','',i) for i in article]
    article_list.append([media,article[0],article[1],article[2],''.join(article[3:])])

  else:
    continue

article_df=pd.DataFrame(article_list)
article_df.to_pickle('article_df.pkl')
!cp article_df.pkl /content/drive/MyDrive/article_df.pkl
'''

article_df=pd.read_pickle('/content/drive/MyDrive/ml_sample_data/pickels/livedoor_news.pkl')

In [ ]:
article_df

                  0  ...                                                  4
0     kaden-channel  ...  iPadが実は使いにくい、という声がネットで飛び出した。理由は微妙に重たいということと、iP...
1     kaden-channel  ...  一見なにかわからないこの固まり、実はUSBだ。書いている数字はこのUSBの容量と重量を示して...
2     kaden-channel  ...  イベントの様子をネット上で配信するということはいまでは珍しくない。今回、そんなイベント中に驚...
3     kaden-channel  ...  ソニーは、光学１０倍ズームレンズと約９２．１万ドットの高精細３．０型ワイドタッチパネルを約１...
4     kaden-channel  ...  おしゃれな家電や雑貨を販売しているIDEAオンラインショップが、２０１２年の福袋予約を開始し...
...             ...  ...                                                ...
7362   it-life-hack  ...  ソフトバンクの「AQUOSPHONE103SH」は、薄型のスタイリッシュなボディに高精細な4...
7363   it-life-hack  ...  今回は、ちょっと趣向を変えて、クイズから始めてみよう。この何かのコネクタと棒状のパーツがつい...
7364   it-life-hack  ...  出張や旅行時では、映画やドラマは一番の息抜きになるものだ。ネットや現地の番組をみるのもいいが...
7365   it-life-hack  ...  デジタル一眼レフカメラは高画質で綺麗な写真を撮れるが、ボディが大きくて重たく、交換レンズも一...
7366   it-life-hack  ...  KDDIは2012年5月15日、auのスマートフォンの新ラインアップとして5機種を2012年...

[7367 rows x 5 columns]

In [ ]:
news_df=article_df[article_df[0]=='sports-watch'].reset_index(drop=True)

In [ ]:
news_df

                0  ...                                                  4
0    sports-watch  ...  29日放送、日本テレビ「Going!Sports＆News」では、パ・リーグで優勝を飾った福...
1    sports-watch  ...  12日深夜放送、テレビ朝日「やべっちF.C.」には、VVVフェンロー・吉田麻也と、フィテッセ...
2    sports-watch  ...  4日、Jリーグ・ガンバ大阪は、大阪府吹田市内でサポーターミーティングを実施。万博記念公園内で...
3    sports-watch  ...  先月、サンフレッチェ広島・槙野智章がゴール後に行ったパフォーマンスが大きな話題になっている。...
4    sports-watch  ...  北海道日本ハムファイターズのエース・ダルビッシュ有と女優・サエコ夫人の間に第二子が誕生した。...
..            ...  ...                                                ...
895  sports-watch  ...  19日（土・日本時間）南アフリカW杯・日本×オランダ戦は、日本代表の健闘空しく、後半にはスナ...
896  sports-watch  ...  TBS「アッコにおまかせ」（5日放送分）、そのオープニングでは、和田アキ子が夏休みにアメリカ...
897  sports-watch  ...  24日から、横浜で開催されたアイスショーに出演したフィギュアスケート世界女王＝安藤美姫。25...
898  sports-watch  ...  22日、今シーズンの公式戦144試合を戦い終えた巨人軍。最終戦の横浜戦こそ、代打・長野のサヨ...
899  sports-watch  ...  連日連夜熱戦が展開されているサッカーのユーロ2012。サッカーの最新のトレンドはもちろん、世...

[900 rows x 5 columns]

In [9]:
from janome.tokenizer import Tokenizer
from janome.analyzer import Analyzer
from janome.charfilter import *

In [10]:
t=Tokenizer()
char_filters=[UnicodeNormalizeCharFilter()]
analyzer=Analyzer(char_filters=char_filters,tokenizer=t)

In [14]:
'''
word_lists=[]
for i,row in news_df.iterrows():
  for t in analyzer.analyze(row[4]):
    surf=t.surface
    base=t.base_form
    pos=t.part_of_speech
    reading=t.reading

    word_lists.append([i,surf,base,pos,reading])

word_df=pd.DataFrame(word_lists,columns=['ニュースNo.','単語','基本形','品詞','読み'])
word_df['品詞']=word_df['品詞'].apply(lambda x : x.split(',')[0])


word_df.to_pickle('word_df.pkl')
!cp word_df.pkl /content/drive/MyDrive/word_df.pkl
'''
#word_df=pd.read_pickle('/content/drive/MyDrive/word_df.pkl')

In [17]:
word_df

        ニュースNo.             単語            基本形  品詞      読み
0             0             29             29  名詞       *
1             0              日              日  名詞      ニチ
2             0             放送             放送  名詞    ホウソウ
3             0              、              、  記号       、
4             0          日本テレビ          日本テレビ  名詞  ニホンテレビ
...         ...            ...            ...  ..     ...
340141      899              ■              ■  記号       ■
340142      899            ユーロ            ユーロ  名詞     ユーロ
340143      899           2012           2012  名詞       *
340144      899             女性             女性  名詞    ジョセイ
340145      899  サポーターフォトギャラリー  サポーターフォトギャラリー  名詞       *

[340146 rows x 5 columns]

In [20]:
score_result=pd.merge(word_df,posi_nega_df,on=['基本形','品詞','読み'],how='left')

In [21]:
score_result

        ニュースNo.             単語            基本形  品詞      読み        スコア
0             0             29             29  名詞       *        NaN
1             0              日              日  名詞      ニチ  -0.903573
2             0             放送             放送  名詞    ホウソウ  -0.720241
3             0              、              、  記号       、        NaN
4             0          日本テレビ          日本テレビ  名詞  ニホンテレビ        NaN
...         ...            ...            ...  ..     ...        ...
340141      899              ■              ■  記号       ■        NaN
340142      899            ユーロ            ユーロ  名詞     ユーロ        NaN
340143      899           2012           2012  名詞       *        NaN
340144      899             女性             女性  名詞    ジョセイ  -0.425736
340145      899  サポーターフォトギャラリー  サポーターフォトギャラリー  名詞       *        NaN

[340146 rows x 6 columns]

In [24]:
result=[]
for i in range(len(score_result['ニュースNo.'].unique())):
  temp_df=score_result[score_result['ニュースNo.']==i]
  text=''.join(list(temp_df['単語']))
  score=temp_df['スコア'].astype(float).sum()
  score_r=score/temp_df['スコア'].astype(float).count()
  result.append([i,text,score,score_r])

pd.DataFrame(result,columns=['ニュースNo.','テキスト','累計スコア','標準化スコア']).sort_values(by='標準化スコア').reset_index(drop=True)

     ニュースNo.  ...    標準化スコア
0        382  ... -0.637060
1         35  ... -0.626521
2        553  ... -0.619937
3        290  ... -0.614607
4        323  ... -0.612887
..       ...  ...       ...
895      441  ... -0.227712
896      849  ... -0.227581
897      108  ... -0.211042
898      702  ... -0.159542
899      509  ... -0.146246

[900 rows x 4 columns]