<a href="https://colab.research.google.com/github/yuki-tamaribuchi/ml_code_kata/blob/master/ordinal_encoder_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv

--2021-02-23 11:44:50--  https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24373 (24K) [text/plain]
Saving to: ‘breast-cancer.csv.2’

breast-cancer.csv.2 100%[===================>]  23.80K  --.-KB/s    in 0s

2021-02-23 11:44:50 (92.8 MB/s) - ‘breast-cancer.csv.2’ saved [24373/24373]

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('breast-cancer.csv',header=None)

In [4]:
df.columns=['Class','age','menopause','tumor-size','inv-nodes','node-caps','deg-mailg','breast','breast-quad','irradiat']

In [5]:
df

       Class        age  ... breast-quad                irradiat
0    '40-49'  'premeno'  ...        'no'     'recurrence-events'
1    '50-59'     'ge40'  ...        'no'  'no-recurrence-events'
2    '50-59'     'ge40'  ...        'no'     'recurrence-events'
3    '40-49'  'premeno'  ...       'yes'  'no-recurrence-events'
4    '40-49'  'premeno'  ...        'no'     'recurrence-events'
..       ...        ...  ...         ...                     ...
281  '50-59'     'ge40'  ...        'no'  'no-recurrence-events'
282  '50-59'  'premeno'  ...       'yes'  'no-recurrence-events'
283  '30-39'  'premeno'  ...        'no'  'no-recurrence-events'
284  '50-59'  'premeno'  ...        'no'  'no-recurrence-events'
285  '50-59'     'ge40'  ...        'no'  'no-recurrence-events'

[286 rows x 10 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Class        286 non-null    object
 1   age          286 non-null    object
 2   menopause    286 non-null    object
 3   tumor-size   286 non-null    object
 4   inv-nodes    278 non-null    object
 5   node-caps    286 non-null    object
 6   deg-mailg    286 non-null    object
 7   breast       285 non-null    object
 8   breast-quad  286 non-null    object
 9   irradiat     286 non-null    object
dtypes: object(10)
memory usage: 22.5+ KB

In [7]:
df['inv-nodes']=df['inv-nodes'].fillna(df['inv-nodes'].mode)
df['breast']=df['breast'].fillna(df['breast'].mode)

In [8]:
X=df.iloc[:,:-1].astype(str)
y=df.iloc[:,-1]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [10]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
X_train=pd.DataFrame(oe.fit_transform(X_train),columns=X_train.columns)
#X_test=pd.DataFrame(oe.transform(X_test),columns=X_test.columns)

In [11]:
X_train

     Class  age  menopause  ...  deg-mailg  breast  breast-quad
0      3.0  0.0        5.0  ...        0.0     3.0          1.0
1      3.0  2.0        4.0  ...        0.0     4.0          0.0
2      5.0  0.0        7.0  ...        1.0     2.0          0.0
3      1.0  2.0        3.0  ...        0.0     2.0          1.0
4      1.0  2.0        5.0  ...        0.0     1.0          0.0
..     ...  ...        ...  ...        ...     ...          ...
209    3.0  0.0        1.0  ...        0.0     1.0          0.0
210    4.0  0.0        6.0  ...        0.0     1.0          0.0
211    4.0  0.0        1.0  ...        0.0     2.0          0.0
212    2.0  2.0        6.0  ...        1.0     2.0          1.0
213    2.0  0.0        4.0  ...        0.0     1.0          0.0

[214 rows x 9 columns]